a {
    text-decoration: none;
}

#side-menu {
    border-right: 1px solid #e0e0e0;
}

#side-menu ul {
    list-style: none;
}

#side-menu li {
    padding: 8px 0;
}

#side-menu li > img {
    width: 30px;
}

#side-menu a {
    color: #303030;
}

.profile-image img {
    width: 38px;
    height: 38px;
    border-radius: 50%;
}